.game-board {
    position: absolute;
    width: 1080px;
    height: 720px;
}

.game-perspective {
    position: inherit;
    width: 100%;
    height: 100%;
    perspective: 500px;
    z-index: 0;
}

.container {
    position: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row ;
    flex-wrap: nowrap;
    justify-content: center;
    transform: rotate3d(-10,0,0,-30deg);
    z-index: 1;
}

.container .board {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 22%;
    bottom: 20%;
    transform-style: preserve-3d;
    background-image: url("../../../public/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container .board .cards {
    transform: scale(0.6);
}

.container .board .cards .in-game-card {
    transform: translateY(430px) translateX(220px);
}

.container .board .cards .deck {
    transform: translateY(390px) translateX(320px);
    z-index: 3;
}

.face {
    perspective: 500px;
    z-index: 0;
}

.bottom-face {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../../../public/assets/images/table.jpg");
    background-repeat: repeat;
    background-size: cover;
    transform: translateY(562px) translateX(489px) rotate3d(-10,0,0,30deg) scaleX(10.19);
    box-shadow: inset 0 0 0 1000px rgba(29, 12, 2, 0.74);
}