.hand-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hand-container section {
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    transition: all ease-in-out;
    user-select: none;
    margin-left: 20%;
}

.card-options {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    user-select: none;
    transform: translateY(-230px) translateX(420px) scale(0.9);
    cursor: pointer;
}

.play-card-option {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 3px;
    background-image: url("../../../public/assets/images/play-card-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid green;
    border-style: outset;
    border-radius: 3px;
    transform: translateY(-50px);
    user-select: none;
    background-color: green;
    box-shadow: 5px 7px 0px 0px rgba(0, 0, 0, 0.507);
}

.look-card-option {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 3px;
    background-image: url("../../../public/assets/images/search-loop-icon.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 5px;
    border: 1px solid  rgb(184, 184, 0);
    border-style: outset;
    border-radius: 3px;
    transform: translateY(0px);
    user-select: none;
    background-color: rgb(184, 184, 0);
    box-shadow: 5px 7px 0px 0px rgba(0, 0, 0, 0.507);
}

.cancel-option {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 3px;
    background-image: url("../../../public/assets/images/cancel-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgb(201, 0, 0);
    border-style: outset;
    border-radius: 3px;
    transform: translateY(50px);
    background-color: rgb(201, 0, 0);
    box-shadow: 5px 7px 0px 0px rgba(0, 0, 0, 0.507);
}

.hand .first {
    order: 0;
    z-index: 0;
    transform: translateX(-100px) translateY(70px) rotateZ(-15deg);
    cursor: pointer;
}

.hand .second {
    order: 1;
    z-index: 1;
    transform: translateX(-60px) translateY(30px) rotateZ(-10deg);
    cursor: pointer;
}

.hand .third {
    order: 2;
    z-index: 2;
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
    cursor: pointer;
}

.hand .fourth {
    order: 3;
    z-index: 3;
    transform: translateX(60px) translateY(0px) rotateZ(10deg);
    cursor: pointer;
}

.hand .fifth {
    order: 4;
    z-index: 4;
    transform: translateX(100px) translateY(20px) rotateZ(15deg);
    cursor: pointer;
}

.hand .enemy-first {
    order: 0;
    z-index: 0;
    transform: translateX(-240px);
}

.hand .enemy-second {
    order: 1;
    z-index: 1;
    transform: translateX(-120px);
}

.hand .enemy-third {
    order: 2;
    z-index: 2;
    transform: translateX(0px);
}

.hand .enemy-fourth {
    order: 3;
    z-index: 3;
    transform: translateX(120px);
}

.hand .enemy-fifth {
    order: 4;
    z-index: 4;
    transform: translateX(240px);
}


@keyframes hover-animation {
    0%    {top:0px;}
    10%   {top:-5px;}
    20%   {top:-10px;}
    30%   {top:-15px;}
    40%   {top:-20px;}
    50%   {top:-25px;}
    60%   {top:-30px;}
    70%   {top:-35px;}
    80%   {top:-40px;}
    90%   {top:-45px;}
    100%  {top:-50px;}
}

.hand .first-picking {
    animation-name: first-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes first-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(17px) translateY(-55px)}
    20%   {transform: translateX(33px) translateY(-80px);}
    30%   {transform: translateX(49px) translateY(-105px);}
    40%   {transform: translateX(65px) translateY(-130px);}
    50%   {transform: translateX(81px) translateY(-155px);}
    60%   {transform: translateX(97px) translateY(-180px);}
    70%   {transform: translateX(113px) translateY(-205px);}
    80%   {transform: translateX(129px) translateY(-230px);}
    90%   {transform: translateX(145px) translateY(-255px);}
    100%  {transform: translateX(161px) translateY(-280px);}
}

.hand .second-picking {
    animation-name: second-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes second-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(9px) translateY(-55px)}
    20%   {transform: translateX(17px) translateY(-80px);}
    30%   {transform: translateX(25px) translateY(-105px);}
    40%   {transform: translateX(33px) translateY(-130px);}
    50%   {transform: translateX(41px) translateY(-155px);}
    60%   {transform: translateX(47px) translateY(-180px);}
    70%   {transform: translateX(57px) translateY(-205px);}
    80%   {transform: translateX(65px) translateY(-230px);}
    90%   {transform: translateX(73px) translateY(-255px);}
    100%  {transform: translateX(81px) translateY(-280px);}
}

.hand .third-picking {
    animation-name: third-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes third-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(0px) translateY(-55px)}
    20%   {transform: translateX(0px) translateY(-80px);}
    30%   {transform: translateX(0px) translateY(-105px);}
    40%   {transform: translateX(0px) translateY(-130px);}
    50%   {transform: translateX(0px) translateY(-155px);}
    60%   {transform: translateX(0px) translateY(-180px);}
    70%   {transform: translateX(0px) translateY(-205px);}
    80%   {transform: translateX(0px) translateY(-230px);}
    90%   {transform: translateX(0px) translateY(-255px);}
    100%  {transform: translateX(0px) translateY(-280px);}
}

.hand .fourth-picking {
    animation-name: fourth-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fourth-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(-7px) translateY(-55px)}
    20%   {transform: translateX(-15px) translateY(-80px);}
    30%   {transform: translateX(-23px) translateY(-105px);}
    40%   {transform: translateX(-31px) translateY(-130px);}
    50%   {transform: translateX(-39px) translateY(-155px);}
    60%   {transform: translateX(-47px) translateY(-180px);}
    70%   {transform: translateX(-55px) translateY(-205px);}
    80%   {transform: translateX(-63px) translateY(-230px);}
    90%   {transform: translateX(-71px) translateY(-255px);}
    100%  {transform: translateX(-79px) translateY(-280px);}
}

.hand .fifth-picking {
    animation-name: fifth-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fifth-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(-15px) translateY(-55px)}
    20%   {transform: translateX(-31px) translateY(-80px);}
    30%   {transform: translateX(-47px) translateY(-105px);}
    40%   {transform: translateX(-63px) translateY(-130px);}
    50%   {transform: translateX(-79px) translateY(-155px);}
    60%   {transform: translateX(-95px) translateY(-180px);}
    70%   {transform: translateX(-111px) translateY(-205px);}
    80%   {transform: translateX(-127px) translateY(-230px);}
    90%   {transform: translateX(-144px) translateY(-255px);}
    100%  {transform: translateX(-159px) translateY(-280px);}
}

.hand .card-in-hand .pickable > :hover {
    animation-name: hover-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hand .card-in-hand :not(.pickable) > :hover {
    animation-name: hover-animation;
    animation-duration: 0s;
    animation-iteration-count: 0;
    animation-fill-mode: forwards;
}