.hand-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hand-container section {
    position: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    transition: all ease-in-out;
    margin-left: 20%;
}

.hand .cursor {
    cursor: pointer;
}

.hand .first {
    order: 0;
    z-index: 0;
    transform: translateX(-100px) translateY(70px) rotateZ(-15deg);
}

.hand .second {
    order: 1;
    z-index: 1;
    transform: translateX(-60px) translateY(30px) rotateZ(-10deg);
}

.hand .third {
    order: 2;
    z-index: 2;
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
}

.hand .fourth {
    order: 3;
    z-index: 3;
    transform: translateX(60px) translateY(0px) rotateZ(10deg);
}

.hand .fifth {
    order: 4;
    z-index: 4;
    transform: translateX(100px) translateY(20px) rotateZ(15deg);
}

.hand .enemy-first {
    order: 0;
    z-index: 0;
    transform: translateX(-240px);
}

.hand .enemy-second {
    order: 1;
    z-index: 1;
    transform: translateX(-120px);
}

.hand .enemy-third {
    order: 2;
    z-index: 2;
    transform: translateX(0px);
}

.hand .enemy-fourth {
    order: 3;
    z-index: 3;
    transform: translateX(120px);
}

.hand .enemy-fifth {
    order: 4;
    z-index: 4;
    transform: translateX(240px);
}


@keyframes hover-animation {
    0%    {top:0px;}
    10%   {top:-5px;}
    20%   {top:-10px;}
    30%   {top:-15px;}
    40%   {top:-20px;}
    50%   {top:-25px;}
    60%   {top:-30px;}
    70%   {top:-35px;}
    80%   {top:-40px;}
    90%   {top:-45px;}
    100%  {top:-50px;}
}

.hand .first-picking {
    animation-name: first-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes first-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(17px) translateY(-25px)}
    20%   {transform: translateX(33px) translateY(-50px);}
    30%   {transform: translateX(49px) translateY(-75px);}
    40%   {transform: translateX(65px) translateY(-100px);}
    50%   {transform: translateX(81px) translateY(-125px);}
    60%   {transform: translateX(97px) translateY(-150px);}
    70%   {transform: translateX(113px) translateY(-175px);}
    80%   {transform: translateX(129px) translateY(-200px);}
    90%   {transform: translateX(145px) translateY(-225px);}
    100%  {transform: translateX(161px) translateY(-250px);}
}

.hand .second-picking {
    animation-name: second-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes second-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(9px) translateY(-25px)}
    20%   {transform: translateX(17px) translateY(-50px);}
    30%   {transform: translateX(25px) translateY(-75px);}
    40%   {transform: translateX(33px) translateY(-100px);}
    50%   {transform: translateX(41px) translateY(-125px);}
    60%   {transform: translateX(47px) translateY(-150px);}
    70%   {transform: translateX(57px) translateY(-175px);}
    80%   {transform: translateX(65px) translateY(-200px);}
    90%   {transform: translateX(73px) translateY(-225px);}
    100%  {transform: translateX(81px) translateY(-250px);}
}

.hand .third-picking {
    animation-name: third-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes third-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(0px) translateY(-25px)}
    20%   {transform: translateX(0px) translateY(-50px);}
    30%   {transform: translateX(0px) translateY(-75px);}
    40%   {transform: translateX(0px) translateY(-100px);}
    50%   {transform: translateX(0px) translateY(-125px);}
    60%   {transform: translateX(0px) translateY(-150px);}
    70%   {transform: translateX(0px) translateY(-175px);}
    80%   {transform: translateX(0px) translateY(-200px);}
    90%   {transform: translateX(0px) translateY(-225px);}
    100%  {transform: translateX(0px) translateY(-250px);}
}

.hand .fourth-picking {
    animation-name: fourth-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fourth-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(-7px) translateY(-25px)}
    20%   {transform: translateX(-15px) translateY(-50px);}
    30%   {transform: translateX(-23px) translateY(-75px);}
    40%   {transform: translateX(-31px) translateY(-100px);}
    50%   {transform: translateX(-39px) translateY(-125px);}
    60%   {transform: translateX(-47px) translateY(-150px);}
    70%   {transform: translateX(-55px) translateY(-175px);}
    80%   {transform: translateX(-63px) translateY(-200px);}
    90%   {transform: translateX(-71px) translateY(-225px);}
    100%  {transform: translateX(-79px) translateY(-250px);}
}

.hand .fifth-picking {
    animation-name: fifth-picking-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fifth-picking-animation {
    0%    {transform: translateX(0px) translateY(0px)}
    10%   {transform: translateX(-15px) translateY(-25px)}
    20%   {transform: translateX(-31px) translateY(-50px);}
    30%   {transform: translateX(-47px) translateY(-75px);}
    40%   {transform: translateX(-63px) translateY(-100px);}
    50%   {transform: translateX(-79px) translateY(-125px);}
    60%   {transform: translateX(-95px) translateY(-150px);}
    70%   {transform: translateX(-111px) translateY(-175px);}
    80%   {transform: translateX(-127px) translateY(-200px);}
    90%   {transform: translateX(-144px) translateY(-225px);}
    100%  {transform: translateX(-159px) translateY(-250px);}
}