.main-container{
    background: rgb(40, 40,40);
    width: 100%;
    height: 1020px;
}

.center-container{
    padding: 10px;
    width: 200px;
    margin: 0 auto;
}
.name-label{
    width: 200px;
}

.button-div{
    padding: 10px;
    display: flex;
    justify-content:right
}
